<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/assets/images/favicon.png" type="image/png">
  <title>{% block title %}

  {% endblock %}</title>

    <!-- BEGIN PAGE LEVEL STYLES -->

        <link href="{{ url_for('static', filename='assets/plugins/datatables/css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='assets/plugins/datatables/css/jquery.dataTables-custom.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='assets/plugins/summernote-master/summernote.css') }}" rel="stylesheet" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='assets/plugins/morris-chart/morris.css') }}" rel="stylesheet">

               <!-- END PAGE LEVEL STYLES -->
        <link href="{{ url_for('static', filename='assets/css/icons.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/css/responsive.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.0/echarts.min.js"></script>
    <![endif]-->

</head>

<body class="sticky-header">

    {% block left_side %}

    <!--Start left side Menu-->
    <div class="left-side sticky-left-side">


        <!--logo-->
        <div class="logo">
             <img src="/static/assets/images/舆情-舆情搜索.png" style="width: 50px; height: 50px;"   alt="舆情监测系统"></a>
        </div>

        <div class="logo-icon text-center">
            <img src="/static/assets/images/舆情-舆情搜索.png" style="width: 50px; height: 50px;"   alt="舆情监测系统"></a>
        </div>
        <!--logo-->


        <div class="left-side-inner">
            <!--Sidebar nav-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="menu-list nav-active"><a href="{{ url_for('page.home') }}"><i class="icon-home"></i> <span>主页面</span></a>
                    <ul class="sub-menu-list">
                        <li  class="active"><a href="{{ url_for('page.home') }}"> 舆情分析概况</a></li>
                        <li><a href="{{ url_for('page.tableData') }}"> 舆情分布地图</a></li>
                        <li><a href="{{ url_for('page.q_a') }}">舆情提问</a></li>
                    </ul>
                </li>


                <li class="menu-list"><a href="#"><i class="icon-grid"></i> <span>菜单栏</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{{ url_for('page.setting_spider') }}"> 爬取设置</a></li>
{#                        <li><a href="table-responsive.html"> </a></li>#}
                        <li><a href="#">舆情应对方案</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="icon-lock"></i> <span>用户界面</span></a>
                    <ul class="sub-menu-list">
                       <li><a href="{{ url_for('user.login') }}"> 登录页面 </a></li>
{#                       <li><a href="forgot-password.html"> 忘记密码 </a></li>#}
                        <li><a href="{{ url_for('user.register') }}"> 新用户注册 </a></li>
                    </ul>
                </li>

            </ul>
            <!--End sidebar nav-->

        </div>
    </div>
       {% endblock %}
    <!--End left side menu-->


    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <a class="toggle-btn"><i class="fa fa-bars"></i></a>

            <form class="searchform">
                <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
            </form>

            <!--notification menu start -->
            <div class="menu-right">}
                {% block menu_right %}
                {% endblock %}
            </div>
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-tasks"></i>
                            <span class="badge">8</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                            <h5 class="title">You have 8 pending task</h5>
                            <ul class="dropdown-list">
                            <li class="notification-scroll-list notification-list ">
                               <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa  fa-shopping-cart noti-primary"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">A new order has been placed.</h5>
                                        <p class="m-0">
                                            <small>29 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>

                               <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-check noti-success"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">Databse backup is complete</h5>
                                        <p class="m-0">
                                            <small>12 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>

                               <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-user-plus noti-info"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">New user registered</h5>
                                        <p class="m-0">
                                             <small>17 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>

                                <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-diamond noti-danger"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">Database error.</h5>
                                        <p class="m-0">
                                             <small>11 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>

                               <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-cog noti-warning"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">New settings</h5>
                                        <p class="m-0">
                                             <small>18 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>
                             </li>
                             <li class="last"> <a href="#">View all notifications</a> </li>
							</ul>
                        </div>
                    </li>

                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                         <h5 class="title">Notifications</h5>
                        <ul class="dropdown-list normal-list">
						 <li class="message-list message-scroll-list">
                          <a href="#">
                              <span class="photo"> <img src="/assets/images/users/avatar-8.jpg" class="img-circle" alt="img"></span>
                              <span class="subject">John Doe</span>
                              <span class="message"> New tasks needs to be done</span>
                               <span class="time">15 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="/assets/images/users/avatar-7.jpg" class="img-circle" alt="img"></span>
                              <span class="subject">John Doe</span>
                              <span class="message"> New tasks needs to be done</span>
                               <span class="time">10 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="/assets/images/users/avatar-6.jpg" class="img-circle" alt="img"></span>
                               <span class="subject">John Doe</span>
                               <span class="message"> New tasks needs to be done</span>
                              <span class="time">20 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="/assets/images/users/avatar-6.jpg" class="img-circle" alt="img"></span>
                               <span class="subject">John Doe</span>
                               <span class="message"> New tasks needs to be done</span>
                              <span class="time">20 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="/assets/images/users/avatar-6.jpg" class="img-circle" alt="img"></span>
                               <span class="subject">John Doe</span>
                               <span class="message"> New tasks needs to be done</span>
                              <span class="time">20 minutes ago</span>
                          </a>

                          <a href="#">
                              <span class="photo"> <img src="/assets/images/users/avatar-6.jpg" class="img-circle" alt="img"></span>
                               <span class="subject">John Doe</span>
                               <span class="message"> New tasks needs to be done</span>
                              <span class="time">20 minutes ago</span>
                          </a>
						</li>
						<li class="last"> <a  href="#">All Messages</a> </li>
					</ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="/assets/images/users/avatar-6.jpg" alt="" />
                            John Doe
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                          <li> <a href="#"> <i class="fa fa-wrench"></i> Settings </a> </li>
                          <li> <a href="#"> <i class="fa fa-user"></i> Profile </a> </li>
                          <li> <a href="#"> <i class="fa fa-info"></i> Help </a> </li>
                          <li> <a href="#"> <i class="fa fa-lock"></i> Logout </a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->



        <!--body wrapper start-->
        <div class="wrapper">

          <!--Start Page Title-->
           <div class="page-title-box">
                <h4 class="page-title">主页面</h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">主页面</a>
                    </li>
                    <li>
                        <a href="#">舆情分析概况</a>
                    </li>

                </ol>
                <div class="clearfix"></div>
             </div>
              <!--End Page Title-->

                  <!--End row-->
        <div class="row">{% block row %}
            {% endblock %}

            </div>



			    </div>
        <!-- End Wrapper-->




       </div>
      <!--End main content -->



    <!--Begin core plugin -->

    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/moment/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.nicescroll.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/functions.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    {% block js %}

    {% endblock %}
    <!-- End core plugin -->

    <!--Begin Page Level Plugin-->
    <script src="{{ url_for('static', filename='assets/plugins/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/pages/table-data.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/summernote-master/summernote.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/pages/compose.js') }}"></script>
      <!-- Summernote初始化代码 -->
      <script>
        $(document).ready(function() {
          $('.summernote').summernote();
        });
      </script>
    <!--End Page Level Plugin-->

</body>

</html>
